<!-- Floating Chat Icon -->
<div class="chat-icon" (click)="toggleChat()">
  🤖 <!-- You can replace this with an image/icon -->
</div>


<!-- Chatbox -->
<div class="chat-container" *ngIf="isChatOpen">
  <div class="chat-box" *ngFor="let msg of messages">
    <div [class.user]="msg.sender === 'user'" [class.bot]="msg.sender === 'bot'">
      {{ msg.text }}
    </div>
  </div>

  <div class="chat-input">
    
      <div class="chat-options" *ngIf="options.length">
    <button *ngFor="let opt of options" (click)="handleOption(opt)">{{ opt }}</button>
      </div>
      
    <input [(ngModel)]="userMessage" (keyup.enter)="userMessage()" placeholder="Type your message..." />
    <button (click)="userMessage()">Send</button>
  </div>
</div>
